header {
  align-items: center;
  border-bottom: 1px solid var(--border-color-default);
  display: flex;
  gap: var(--spacing-4);
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  header {
    /* tbd */
  }
}

header .title {
  font-weight: 800;
}
